global
    maxconn 50000
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 5s
    timeout client 300s
    timeout server 300s
    option http-server-close
    option forwardfor
    option dontlognull
    retries 3

frontend s3_front
    bind *:9000
    default_backend s3_back

backend s3_back
    balance leastconn
    option httpchk GET /minio/health/live
    http-check expect status 200
    server minio1 minio1:9000 check inter 3s rise 2 fall 3
    server minio2 minio2:9000 check inter 3s rise 2 fall 3
    server minio3 minio3:9000 check inter 3s rise 2 fall 3
    server minio4 minio4:9000 check inter 3s rise 2 fall 3

frontend console_front
    bind *:9001
    default_backend console_back

backend console_back
    balance source
    server minio1 minio1:9001 check
    server minio2 minio2:9001 check
    server minio3 minio3:9001 check
    server minio4 minio4:9001 check
