global
    maxconn 50000
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 5s
    timeout client 300s
    timeout server 300s
    option http-server-close
    option forwardfor
    option dontlognull
    retries 3

frontend s3_front
    bind *:8333
    default_backend s3_back

backend s3_back
    balance leastconn
    option httpchk GET /
    http-check expect rstatus (2|4)[0-9][0-9]
    server filer1 filer1:8333 check inter 3s rise 2 fall 3
    server filer2 filer2:8333 check inter 3s rise 2 fall 3
    server filer3 filer3:8333 check inter 3s rise 2 fall 3
    server filer4 filer4:8333 check inter 3s rise 2 fall 3
