global
    maxconn 50000
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client 300s
    timeout server 60s
    option forwardfor
    option dontlognull
    retries 3

frontend s3_front
    bind *:9230
    default_backend s3_back

backend s3_back
    balance uri
    hash-type consistent
    server herd1 herd1:9000 check inter 2s rise 1 fall 2
    server herd2 herd2:9000 check inter 2s rise 1 fall 2
    server herd3 herd3:9000 check inter 2s rise 1 fall 2
    server herd4 herd4:9000 check inter 2s rise 1 fall 2
