global
    maxconn 50000
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 5s
    timeout client 300s
    timeout server 300s
    option http-server-close
    option forwardfor
    option dontlognull
    retries 3

frontend s3_front
    bind *:9000
    default_backend s3_back

backend s3_back
    balance leastconn
    option httpchk GET /minio/health/live
    http-check expect status 200
    server rustfs1 rustfs1:9000 check inter 3s rise 2 fall 3
    server rustfs2 rustfs2:9000 check inter 3s rise 2 fall 3
    server rustfs3 rustfs3:9000 check inter 3s rise 2 fall 3
    server rustfs4 rustfs4:9000 check inter 3s rise 2 fall 3
