global
    maxconn 50000
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client 300s
    timeout server 60s
    option forwardfor
    option dontlognull
    retries 3

frontend s3_front
    bind *:8333
    default_backend s3_back

backend s3_back
    balance leastconn
    server filer1 filer1:8333 check inter 2s rise 1 fall 2
    server filer2 filer2:8333 check inter 2s rise 1 fall 2
    server filer3 filer3:8333 check inter 2s rise 1 fall 2
    server filer4 filer4:8333 check inter 2s rise 1 fall 2
