global
    maxconn 50000
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 5s
    timeout client 300s
    timeout server 300s
    option http-server-close
    option forwardfor
    option dontlognull
    retries 3

frontend s3_front
    bind *:9230
    default_backend s3_back

backend s3_back
    balance uri
    hash-type consistent
    option httpchk GET /
    http-check expect rstatus (2|4)[0-9][0-9]
    server herd1 herd1:9000 check inter 2s rise 1 fall 2
    server herd2 herd2:9000 check inter 2s rise 1 fall 2
    server herd3 herd3:9000 check inter 2s rise 1 fall 2
    server herd4 herd4:9000 check inter 2s rise 1 fall 2
